trigger: none
pool: agent1_pool

steps: 
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # Write your PowerShell commands here.
      
      npm install

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm run build'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
    replaceExistingArchive: true

- task: AzureCLI@2
  inputs:
    azureSubscription: 'conn_new'
    scriptType: 'ps'
    scriptLocation: 'inlineScript'
    inlineScript: |
      echo "Current directory:"
      pwd
      
      echo "Files in working directory:"
      ls
      az storage blob upload  --account-name vinodstoragemain --container-name container22  --name build.zip   --file build.zip  --overwrite true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)/build.zip'
    ArtifactName: 'reactjs'
    publishLocation: 'Container'

