trigger: none
pool: agent1_pool

steps: 
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # Write your PowerShell commands here.
      
      npm install

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm run build'